body{
    background-color: rgb(229, 235, 242);
}
.active{
    background-color: rgb(34, 80, 129);
}

        .form-page {
            display: none;
        }

        .form-page.active {
            display: flex;
            background-color: #fff;
        }